.table {
  width: 100%;
  border: 1px solid var(--neutral-main);
  background-color: var(--neutral-light);
  border-collapse: collapse;
  border-radius: $border-radius;
  overflow: hidden;
}

.titleHeader {
  @include Typography(false, 'p');
  padding: spacing('m');
  border-bottom: 1px solid var(--neutral-main);
  text-align: left;
}

.tData {
  padding: spacing('m');
  border-bottom: 1px solid var(--neutral-main);
}
