$-palette: (
  primary: (
    main: #00ff9d,
    light: lighten(#00ff9d, 30%),
    dark: darken(#00ff9d, 30%),
  ),
  secondary: (
    main: #191238,
    light: #777188,
    dark: darken(#191238, 30%),
  ),
  attention: (
    main: #ff57bb,
    light: lighten(#ff57bb, 40%),
    dark: darken(#ff57bb, 30%),
  ),
  success: (
    main: #00c8ff,
    light: lighten(#00c8ff, 30%),
    dark: darken(#00c8ff, 30%),
  ),
  neutral: (
    main: #b2b1b5,
    light: lighten(#b2b1b5, 40%),
    dark: darken(#b2b1b5, 20%),
  ),
  text: (
    primary: #202020,
    secondary: #626262,
    light: #f4f4f4,
  ),
  overlay: (
    main: rgba(0, 0, 0, 0.5),
  ),
);

:root {
  @each $color, $values in $-palette {
    @each $accent, $value in $values {
      --#{$color+"-"+$accent}: #{$value};
    }
  }
}
