@forward 'reset'; // check if it's working
@forward 'spacing';
@forward 'breakpoint';
@forward 'colors';
@forward 'typography';
@forward 'grid';
@forward 'utils';

body {
  background-color: var(--attention-light);
  font-family: 'Lexend', sans-serif;
  color: var(--text-primary);
}
