@use 'sass:map';
@use 'spacing' as spacing;
@use 'typography' as *;

$inputSmallSize: 0.3rem;
$inputNormalSize: 0.6rem;

$border-radius: 3px;
$sizes: (
  'normal': $inputNormalSize,
  'small': $inputSmallSize,
);

/** Page title*/
@mixin PageTitle() {
  text-align: center;
  margin: spacing.spacing('xxl') 0;
  color: var(--secondary-dark);
}

/** Button mixin */
/** TODO: mixin signature*/
@mixin Button($button-size, $color: 'secondary', $full: false) {
  @include Typography(false, 'p');
  border: 0;
  border-radius: $border-radius;
  padding: map.get($sizes, $button-size);
  background-color: var(--#{$color}-dark);
  transition: 0.2s ease-out;
  color: var(--text-light);
  @if ($full) {
    width: 100%;
  }

  &:hover {
    background-color: var(--#{$color}-light);
  }

  &:disabled {
    background-color: var(--base-light);
    color: var(--base-main);
  }
}

/** Input mixin */

@mixin Input($input-size, $margin: true) {
  @if ($margin) {
    margin: map.get($sizes, $input-size) 0;
  }
  padding: map.get($sizes, $input-size);
  border-radius: $border-radius;
  border: 1px solid var(--neutral-main);
}
