@use 'sass:map';
@use 'typography' as *;

$border-radius: 5px;
$button-sizes: (
  'normal': 0.8rem,
  'small': 0.5rem,
);

@mixin Button($button-size) {
  @include Typography(false, 'p');
  border: 0;
  border-radius: $border-radius;
  padding: map.get($button-sizes, $button-size);
  background-color: var(--success-main);
  transition: 0.2s ease-out;

  &:hover {
    background-color: var(--success-light);
  }
}
